<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="jumbotron">
    <div class="container">
      <h1><%= @client.name %>
        <div class="pull-right">
          <small><%= @client.sponsor %></small>
        </div>
      </h1>

      <div class="field form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, type: 'email', class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :cnpj %>
        <%= f.text_field :cnpj, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :sponsor %>
        <%= f.text_field :sponsor, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :cell_phone %>
        <%= f.text_field :cell_phone, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :street %>
        <%= f.text_field :street, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :address_number %>
        <%= f.text_field :address_number, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control' %>
      </div>

      <div class="actions pull-right">
        <%= f.submit 'Enviar', type: 'button', class: 'btn btn-primary' %>
      </div>

    </div>
  </div>

<% end %>
